@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f1f1f1;
}

.sideBar::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.sideBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sideBar::-webkit-scrollbar-thumb {
  background: #7070ff;
}

/* Handle on hover */
.sideBar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
